h1 {
	background-color: #818064;
	color: #FEF7C9;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-left: 10%;
	margin-right: 10%;
}

body {
	background: #FEF7C9;
}


h3{
	text-align: center;
	color: #818064;
}
h2 {
	color: #818064;
}

p {
	color: #818064;
	padding-top: 60px;
}

.tab { 
	text-indent: 5% 
}

a {
	color: #818064;
}